---
layout: page
permalink: /articles/
title: Archive
description: "An archive of all the posts I've written over the years. Sorted by date."
---

{% assign getPosts = site.posts %}
{% assign getLinkPosts = site.posts | where:"linkpost","true" %}
{% assign getPages = site.pages | where:"layout","page" %}

{% assign postsCount = getPosts.size %}
{% assign linkPostsCount = getLinkPosts.size %}
{% assign articlesCount = postsCount | minus: linkPostsCount %}
{% assign pagesCount = getPages.size %}

{% assign postsWordCount = 0 %}
{% assign longestWordCount = 0 %}
{% assign longestPost = none %}
{% for posts in getPosts %}
{% assign postWordCount = posts.content | number_of_words %}
{% assign postsWordCount = postsWordCount | plus:postWordCount %}
{% if postWordCount > longestWordCount %}
{% assign longestWordCount = postWordCount %}
{% assign longestPost = posts.title %}
{% endif %}
{% endfor %}

{% assign averageWordCount = postsWordCount | divided_by:postsCount %}

<ul class="post-list" itemprop="Blog" itemscope itemtype="http://schema.org/Blog">
<div style="text-align:center">
    My blog contains <b>{{ postsCount }}</b> posts and <b>{{ pagesCount }}</b> pages. Those <b>{{ postsCount }}</b>
    posts contain a total of <b>{{ postsWordCount }}</b> words. That's an average of <b>{{ averageWordCount }}</b>
    words per post. The longest post is <b>"{{longestPost}}"</b>, it has a length of <b>{{ longestWordCount }}</b> words.
</div>
    <br>
    
{% for post in site.posts %} 
  <li>
      <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
          <a href="{{ site.url }}{{ post.url }}" itemprop="url"><meta itemprop="headline" content="{{ post.title }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a>
      </article>
  </li>
{% endfor %}
    <div itemprop="author" itemscope itemtype="http://schema.org/Person">
        <div itemprop="sameAs" href="http://theowinter.ch/about">
            <meta itemprop="name" content="Theo Winter"/>
        </div>
    </div>
    <meta itemprop="inLanguage" content="en-US"/>
    <meta itemprop="isFamilyFriendly" content="true"/>
    <meta itemprop="image" content="{{ site.url }}/images/apple-touch-icon-144x144-precomposed.png"/>
</ul>