<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">

{% include headless_navigation.html %}

<div id="main" role="main" class="animsition">
  <article>
      <div class="photoCentre">
          <img id="photo" src="{{ site.url }}/images/photography/{{ page.photo_url }}.jpg" class="entry-feature-image" alt="{{ page.title }}">
          <div>
             <a class="animsition-link" data-animsition-out="fade-out-right" href="{{ site.url }}/photography/{{page.previous_pic}}" style="float: left";>Newer</a>
             <a class="animsition-link" data-animsition-out="fade-out-left" href="{{ site.url }}/photography/{{page.next_pic}}" style="float: right;">Older</a>
          </div>
          <br><br>
          <div class="photoInfo">
              <div class="row">
                  <div class="col-md-2 col-xs-3">
                      <img src="{{ site.url }}/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }} photo" class="img-circle">
                  </div>
                  <div class="col-xs-9 col-md-7" style="margin-left: -70px;">
                      <div class="photoInfo-content">
                          <h2 style="margin-bottom: 0px; margin-top: 0px;">{{page.title}}</h2>
                          {% capture photo_date %}
                          {% exiftag date_time_original, %}{{ page.photo_url }}.jpg{% endexiftag %}
                          {% endcapture %}
                          {% capture camera %}
                          {% exiftag model, %}{{ page.photo_url }}.jpg{% endexiftag %}
                          {% endcapture %}
                          {% capture exposure %}
                          {% exiftag exposure_time, %}{{ page.photo_url }}.jpg{% endexiftag %}
                          {% endcapture %}
                          {% capture f_number %}
                          {% exiftag f_number, %}{{ page.photo_url }}.jpg{% endexiftag %}
                          {% endcapture %}
                          {% capture iso %}
                          {% exiftag iso_speed_ratings, %}{{ page.photo_url }}.jpg{% endexiftag %}
                          {% endcapture %}

                          <!-- TODO: insert better text, atm duplicate information .. -->
                          {% if page.description %}
                            {{page.description}}<br>
                          {% else %}
                            Shot on {{photo_date | date_to_long_string }} with {{camera}}<br>
                          <span class="author" itemprop="author">by <span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          {% endif %}
                          {% if site.disqus_shortname and page.comments %}<div id="disqus_thread"></div><!-- /#disqus_thread -->{% endif %}
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-3">
                      <div class="row">
                          <ul style="list-style-type: none; margin-left: -30px;">
                              <li>{% if camera contains 'iPhone' %} <i class="icon-mobile-phone"></i> {% else %} <i class="icon-camera"></i> {% endif %} {{camera}}</li>
                              <li><i class="icon-time"></i> {{exposure}}</li>
                              <li><b>F</b> {{f_number}}</li>
                              <li><b>ISO</b> {{iso}}</li>
                          </ul>
                          <hr>
                      </div>
                      <div class="row">
                          {% capture photo_latitude %}
                          {% exiftag gps.latitude, %}{{ page.photo_url }}.jpg{% endexiftag %}
                          {% endcapture %}
                          {% capture photo_longitude %}
                          {% exiftag gps.longitude, %}{{ page.photo_url }}.jpg{% endexiftag %}
                          {% endcapture %}
                          <a href="https://www.google.ch/maps/place/{{photo_latitude}},{{photo_longitude}}" target="_blank">
                          <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=12&size=300x150&
markers=color:blue%7Clabel:S%7C{{photo_latitude}},{{photo_longitude}}
                           &scale=2&key=AIzaSyCMXdSigC-sBHJOrGakSxjGi2uMMq_N7RY">
                          </a>
                      </div>
              </div>
          </div>
      </div>
    </div>
      <div class="entry-wrapper">
        <div class="entry-content" itemprop="articleBody">


        </div><!-- /.entry-content -->
      </div><!-- /.entry-wrapper -->
  </article>


</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

<script>
    $("#photo").click(function(e){
        var pWidth = $(this).innerWidth();
        var pOffset = $(this).offset();
        var x = e.pageX - pOffset.left;
        if(pWidth/2 > x){
            window.location.href = '{{ site.url }}/photography/{{page.previous_pic}}';
        }
        else{
            window.location.href = '{{ site.url }}/photography/{{page.next_pic}}';
        }
    });

    $(document).ready(function() {
        $(".animsition").animsition({
            inClass: 'fade-in',
            outClass: 'fade-out',
            inDuration: 1500,
            outDuration: 400,
            linkElement: '.animsition-link',
            // e.g. linkElement: 'a:not([target="_blank"]):not([href^=#])'
            loading: true,
            loadingParentElement: 'body', //animsition wrapper element
            loadingClass: 'animsition-loading',
            unSupportCss: [
                'animation-duration',
                '-webkit-animation-duration',
                '-o-animation-duration'
            ],
            //"unSupportCss" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
            //The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
            overlay : false,
            overlayClass : 'animsition-overlay-slide',
            overlayParentElement : 'body'
        });
    });
</script>

</body>
</html>